<!DOCTYPE html>
<html>
  {{ partial "header.html" . }}
  <body>
    <div class="container wrapper">
      {{ partial "head.html" . }}

      {{ with .Content }}{{ . }}{{ end }}

      <div class="markdown">
	<p>Hey there, I’m Isma. Interested in everything: from art to technology, faith to travel.</p>
	<p>Spanish by birth, American by adoption.</p>
	<p>Contact me <a href="mailto:web@arenzana.org">here</a>.</p>

	<p><a href="/assets/eddsa_public_key.txt">PGP Public Key</a></p>
	<p class="has-text-align-left">

	  Oh! And I have a photography <a href="https://isma.photo" data-type="URL" data-id="isma.photo">website</a>. Go ahead and check it out.
	</p>
      </div>
    </div>
    {{ partial "footer.html" . }}
  </body>
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:image" content="https://arenzana.org/img/featured.jpg"/>
  <meta name="twitter:image:alt" content="Isma Arenzana"/>
  <meta name="twitter:title" content="Isma Arenzana"/>
  <meta name="twitter:description" content="Someone without much to say but apparently a lot to write about"/>
  <meta name="twitter:creator" content="@iarenzana"/>
  <meta name="twitter:site" content="https://arenzana.org"/>

  <meta property="og:type" content="link"/>
  <meta property="og:author_name" content="Isma Arenzana"/>
  <meta property="og:author_url" content="https://arenzana.org"/>
  <meta property="og:description" content="Someone without much to say but apparently a lot to write about"/>
  <meta property="og:image" content="https://arenzana.org/img/featured.jpg"/>
</html>
