<!DOCTYPE html>
<html>
  {{ partial "header.html" . }}
  <body>
    <div class="container wrapper">
      {{ partial "head.html" . }}

      {{ with .Content }}{{ . }}{{ end }}

      <div class="markdown">
	<p>Hey there, I’m Isma. Interested in everything: from art to technology, faith to travel.</p>
	<p>Spanish by birth, American by adoption.</p>
	<p>Contact me <a href="mailto:web@arenzana.org">here</a>.</p>
	<p>PGP Fingerprint</p>
	<pre class="wp-block-preformatted">B2AD&nbsp;040F&nbsp;88EC&nbsp;812F&nbsp;6ABB&nbsp;&nbsp;8392&nbsp;E855&nbsp;12E7&nbsp;12CC&nbsp;D0C6</pre>
	<p><a href="/img/eddsa_public_key.txt">PGP Public Key</a></p>
	<p class="has-text-align-left">
	  
	  Page available on <a href="gemini://gemini.arenzana.org" data-type="URL" data-id="gemini://gemini.arenzana.org">Gemini</a>
	</p>

      </div>
    </div>
    {{ partial "footer.html" . }}
  </body>
</html>
