<!DOCTYPE html>
<html>
  {{ partial "header.html" . }}
  <body>
    <div class="container wrapper">
      {{ partial "head.html" . }}

      {{ with .Content }}{{ . }}{{ end }}

      <div class="markdown">
	<p>Hey there, I’m Isma. Interested in everything: from art to technology, faith to travel.</p>
	<p>Spanish by birth, American by adoption.</p>
	<p>Contact me <a href="mailto:web@arenzana.org">here</a>.</p>
	<p>PGP Fingerprint</p>
	<pre class="wp-block-preformatted">B2AD&nbsp;040F&nbsp;88EC&nbsp;812F&nbsp;6ABB&nbsp;&nbsp;8392&nbsp;E855&nbsp;12E7&nbsp;12CC&nbsp;D0C6</pre>
	<p><a href="/assets/eddsa_public_key.txt">PGP Public Key</a></p>
	<p class="has-text-align-left">

	  Page available on <a href="gemini://gemini.arenzana.org" data-type="URL" data-id="gemini://gemini.arenzana.org">Gemini</a>
	</p>

      </div>
    </div>
    {{ partial "footer.html" . }}
  </body>
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:image" content="https://arenzana.org/img/featured.jpg"/>
  <meta name="twitter:image:alt" content="Isma Arenzana"/>
  <meta name="twitter:title" content="Isma Arenzana"/>
  <meta name="twitter:description" content="Someone without much to say but apparently a lot to write about"/>
  <meta name="twitter:creator" content="@iarenzana"/>
  <meta name="twitter:site" content="https://arenzana.org"/>

  <meta property="og:type" content="link"/>
  <meta property="og:author_name" content="Isma Arenzana"/>
  <meta property="og:author_url" content="https://arenzana.org"/>
  <meta property="og:description" content="Someone without much to say but apparently a lot to write about"/>
  <meta property="og:image" content="https://arenzana.org/img/featured.jpg"/>
</html>
